<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pantaucorona">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bacteria"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bacteria"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TipsActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoFragment" />
        <activity android:name=".ProvinsiFragment" />
        <activity android:name=".TipsFragment" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".NegaraFragment" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>